{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>
<style>.jumbotron {
  
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("https://media.istockphoto.com/photos/close-up-of-doctor-is-touching-digital-virtual-screen-for-analytics-picture-id1273886962?b=1&k=20&m=1273886962&s=170667a&w=0&h=f9FyAVFdXEwAv7qdEFWbdfLoqa7z87rwyKsd9iqrjBw=");
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 25px;
  font-weight: bold;
}
.lead{
  font-size: 30px;
  font-weight: bold; 
}
</style>
  
<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <br><br><br>
  <p class="lead"> Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <br><br><br><br>

  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
