<style>
  

  .jumbotron{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLSjcGvq7o7olEU1U6D4iWw4yOhjFvpOV-79ST5Ze2UdjVX_en4EtnNNTCFCoIeE-yaMY&usqp=CAU');
    background-size: 100%;
  
    
    }
    .dck{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLSjcGvq7o7olEU1U6D4iWw4yOhjFvpOV-79ST5Ze2UdjVX_en4EtnNNTCFCoIeE-yaMY&usqp=CAU');
    background-size: 100%;
  
    
    }
    
    p{
      font-size: x-large;
    }
    .display-4{

     color: rgb(105, 27, 27);
     

    }
    .lead{
      font-size:xx-large;
    }

</style>

<div class="dck">
{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>



<div class="jumbotron " style="margin-bottom:0px;"><br>
  <h1 class="display-4" style="text-align:center ;">Hello, Doctor</h1>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4"><br><br><br><br>
  <p>You can access various features after Login/SignUp.</p>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
  <br>
</div>
<br><br><br><br><br><br><br>

{% endblock content %}
</div>